body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f7f7f7;
}

#quiz-form {
    display: flex;
    flex-direction: column;
    width: 50%;
}

#result {
    margin-top: 20px;
}
